<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Voeg een game toe</title>
    </h:head>
    <h:body>

        <b:navBar brand="Volleyball Klassement" brandHref="#" inverse="true">
            <b:navbarLinks pull="right">
                <b:navLink span="10"></b:navLink>
                <b:navLink value="Home" href="index.xhtml"></b:navLink>
                <b:navLink value="Zoeken" href="Search.xhtml"></b:navLink>
                <b:navLink value="Competities" href="Competitions.xhtml"></b:navLink>
            </b:navbarLinks>
        </b:navBar>    

        <h1 style="margin-left: 10%">voeg nieuwe wedstrijd toe aan <h:outputText value="#{competitionsController.name}"/> </h1>
        <b:form style="margin-left: 9.5%">
            <b:row>
                <b:column span="4">
                    <h:outputText value="locatie : "/>
                    <b:inputText id="competitieNaam" value="#{gameController.plaats}"/>
                </b:column>
            </b:row>
            <b:row>
                <b:column span="4">

                    <b:formGroup style="width: 120%;margin-left: 4%;display: inline-block">
                        <b:selectOneMenu value="#{gameController.uitPloeg}" colMd="10" required="false" label="lijst bestaande teams:" labelColMd="10">
                            <f:selectItem itemLabel="(Please select)" itemValue="" />
                            <f:selectItem itemLabel="davoc lot" itemValue="1" />
                            <f:selectItem itemLabel="leuven" itemValue="2" />
                            <f:selectItem itemLabel="keerbergen" itemValue="3" />
                        </b:selectOneMenu>
                        <h:outputText value="resultaat : "/>
                    <b:inputText style="width: 15%" styleClass="form-control" value="#{gameController.resultaatUitploeg}"/>
                        <b:message for="@previous" colMd="2" />
                        
                    </b:formGroup>
                    
                </b:column>
            </b:row>
            <b:row>
                <b:column span="4">

                    <b:formGroup style="width: 120%;margin-left: 4%;display: inline-block">
                        <b:selectOneMenu value="#{gameController.thuisPloeg}" colMd="10" required="false" label="lijst bestaande teams:" labelColMd="10">
                            <f:selectItem itemLabel="(Please select)" itemValue="" />
                            <f:selectItem itemLabel="davoc lot" itemValue="1" />
                            <f:selectItem itemLabel="leuven" itemValue="2" />
                            <f:selectItem itemLabel="keerbergen" itemValue="3" />
                        </b:selectOneMenu>
                         <h:outputText value="resultaat : "/>
                        <b:inputText style="width: 15%" styleClass="form-control" value="#{gameController.resultaatThuisploeg}"/>
                        <b:message for="@previous" colMd="2" />
                       
                    </b:formGroup>
                   
                </b:column>
            </b:row>
            <b:row>
                <b:column span="4">
                    <h:outputText value="datum : "/>
                    <b:inputText styleClass="form-control" value="#{gameController.gameDate}"/>
                </b:column>
            </b:row>

            <b:commandButton value="bevestig" look="primary" style="margin-left: 9.5%"></b:commandButton>

        </b:form>


    </h:body>
</html>
