<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Voeg een nieuwe speler toe</title>
    </h:head>
    <h:body>

        <b:navBar brand="Volleyball Klassement" brandHref="#" inverse="true">
            <b:navbarLinks pull="right">
                <b:navLink span="10"></b:navLink>
                <b:navLink value="Home" href="index.xhtml"></b:navLink>
                <b:navLink value="Zoeken" href="Search.xhtml"></b:navLink>
                <b:navLink value="Competities" href="Competitions.xhtml"></b:navLink>
            </b:navbarLinks>
        </b:navBar>  
        <h1 style="margin-left: 10%">voeg nieuwe speler toe aan <h:outputText value="#{teamController.name}"/> </h1>
        <b:form style="margin-left: 9.5%">
            <b:row>
                <b:column span="4">
                    <h:outputText value="voornaam : "/>
                    <b:inputText id="competitieNaam" value="#{playerController.firstName}"/>
                </b:column>
            </b:row>
            <b:row>
                <b:column span="4">
                    <h:outputText value="achternaam : "/>
                    <b:inputText styleClass="form-control" value="#{playerController.lastName}"/>
                </b:column>
            </b:row>
            <b:row>
                <b:column span="4">
                    <h:outputText value="geboorte datum : "/>
                    <b:inputText styleClass="form-control" value="#{playerController.dateOfBirth}"/>
                </b:column>
            </b:row>
            
            <b:commandButton value="bevestig" look="primary" style="margin-left: 9.5%"></b:commandButton>

        </b:form>


    </h:body>
</html>
