<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <h:head>

        <title>#{clubController.setClub(request.getParameter("id"))} 
            #{clubController.club.naam} - Clubpagina</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <b:navBar brand="Volleyball Klassement" brandHref="../index" inverse="true">
            <b:navbarLinks pull="right">
                <b:navLink span="10"></b:navLink>
                <b:navLink value="Home" href="../index"></b:navLink>
                <b:navLink value="Zoeken" href="../zoek"></b:navLink>
                <b:navLink value="Competities" href="../competitions"></b:navLink>
            </b:navbarLinks>
        </b:navBar>  

        <h1 style="margin-left: 3.5%"><h:outputText value="#{clubController.club.naam}"/></h1>
        <p><h:outputText style="margin-left: 3.5%" value="Locatie: #{clubController.club.locatie}"/></p>
        <h:dataTable style="margin-left: 3.5%" class="table-condensed" value="#{clubController.club.teamList}" var="team">
            <h:column>
                <f:facet name="header">Teamnaam:</f:facet>
                <a href="../team/#{team.id}"><h:outputText id="columntext" value="#{team.naam}"/></a>
            </h:column>
            <h:column>
                <f:facet name="header">Competitie:</f:facet>
                <a href="../competition/#{team.competition.id}"><h:outputText id="columntext" value="#{team.competition.naam}"/></a>
            </h:column>
            <h:column>
                <f:facet name="header">Divisie:</f:facet>
                <h:outputText id="columntext" value="#{team.competition.division}"/>
            </h:column>
        </h:dataTable>
        <b:button href="CreateTeam.xhtml" value="Voeg een team toe (todo)" look="primary" style="margin-left: 3.5%"></b:button>
    </h:body>
</html>
