<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{competitionController.setCompetition(request.getParameter("id"))}
            #{competitionController.competition.naam} - Competitiepagina</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>

        <b:navBar brand="Volleyball Klassement" brandHref="../index" inverse="true">
            <b:navbarLinks pull="right">
                <b:navLink span="10"></b:navLink>
                <b:navLink value="Home" href="../index"></b:navLink>
                <b:navLink value="Zoeken" href="../zoek"></b:navLink>
                <b:navLink value="Competities" href="../competitions"></b:navLink>
            </b:navbarLinks>
        </b:navBar>  
        <b:column col-lg="6">
            <h:form>
                <h1 style="margin-left: 6%">#{competitionController.competition.naam}</h1>
                <ul style="width: 60%">
                    <li class="list-group-item"><span class="font-weight-bold">Divisie : <h:outputText value="#{competitionController.competition.division}"/></span></li>

                    <li class="list-group-item"><span class="font-weight-bold">Regio : <h:outputText value="#{competitionController.competition.region}"/></span></li>

                    <li class="list-group-item"><span class="font-weight-bold">                            
                            <h:dataTable value="#{competitionController.competition.teamList}" var="team">
                                <h:column>
                                    <f:facet name="header">Naam:</f:facet>
                                    <a href="../team/#{team.id}"><h:outputText value="#{team.naam}"/></a>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Club:</f:facet>
                                    <a href="../club/#{team.club.id}"><h:outputText value="#{team.club.naam}"/></a>
                                </h:column>
                            </h:dataTable>
                        </span></li>
                </ul>
                <!-- <b:formGroup style="width: 45%;margin-left: 4%;display: inline-block">
                    <b:selectOneMenu value="" colMd="10" required="false" label="lijst bestaande teams: (todo)" labelColMd="10">
                        <f:selectItem itemLabel="(Please select)" itemValue="" />
                        <f:selectItem itemLabel="" itemValue="1" />
                        <f:selectItem itemLabel="leuven" itemValue="2" />
                        <f:selectItem itemLabel="keerbergen" itemValue="3" />
                    </b:selectOneMenu>
                    <b:message for="@previous" colMd="2" />
                </b:formGroup> -->
                <b:button href="CreateTeam.xhtml" value="voeg een team toe" look="primary" style="margin-left: 6.5%;"></b:button>
            </h:form>
        </b:column>
        <b:column span="5">
            <h:form>
                <h1 style="margin-left: 3%">Wedstrijden</h1>
                <b:commandButton value="Filter (todo)" look="primary"></b:commandButton>
                <div class="list-group-item">
                    <h:dataTable  value="#{competitionController.competition.gameList}" var="game">
                        <h:column>
                            <f:facet name="header">Datum:</f:facet>
                            <h:outputText value="#{game.gameDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Plaats:</f:facet>
                            <h:outputText value="#{game.plaats}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Thuisploeg:</f:facet>    
                            <h:outputText value="#{game.thuisPloeg}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Uitploeg:</f:facet>
                            <h:outputText value="#{game.uitPloeg}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Resultaat:</f:facet>
                            <h:outputText value="#{game.resultaatThuisploeg} - #{game.resultaatUitploeg}"/>
                        </h:column>
                    </h:dataTable>
                </div>
                <b:button href="../AddGame.xhtml" value="Voeg een wedstrijd toe (todo)" look="primary"></b:button>
            </h:form>
        </b:column>
        <b:button value="klassement" href="../klassement/#{competitionController.competition.id}"></b:button>
    </h:body>
</html>
