<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Competities</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>
    <h:body>

        <b:navBar brand="Volleyball Klassement" brandHref="index" inverse="true">
            <b:navbarLinks pull="right">
                <b:navLink span="10"></b:navLink>
                <b:navLink value="Home" href="index"></b:navLink>
                <b:navLink value="Zoeken" href="zoek"></b:navLink>
                <b:navLink value="Competities" href="competitions"></b:navLink>
            </b:navbarLinks>
        </b:navBar>  
        <h1>Competitions</h1>
        
        <p> to do: Links naar compititie pagina, add competitie maken, layout</p>

        <h:dataTable class="table-condensed" value="#{competitionsController.comps}" var="comp">
            <h:column>
                <f:facet name="header"> Divisie: </f:facet>
                <a href="competition/#{comp.id}"><h:outputText id="columntext" value="#{comp.division}"/></a>
            </h:column>
            <h:column>
                <f:facet name="header"> Regio: </f:facet>
                <a href="competition/#{comp.id}"><h:outputText id="columntext" value="#{comp.region}"/></a>
            </h:column>
        </h:dataTable>
        <b:button  href="CreateComp.xhtml" value="Voeg een competitie toe (todo)" look="primary"></b:button>
    </h:body>
</html>
