<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Homepagina</title>
    </h:head>
    <h:body>

        
        <b:navBar class="collapse navbar-collapse" brand="Volleyball Klassement" brandHref="index" inverse="true">
            <b:navbarLinks pull="right">
                <b:navLink span="10"></b:navLink>
                <b:navLink value="Home" href="index"></b:navLink>
                <b:navLink value="Zoeken" href="zoek"></b:navLink>
                <b:navLink value="Competities" href="competitions"></b:navLink>
            </b:navbarLinks>
        </b:navBar>  

        <b:button href="club/1000" value="test club" look="primary" style="margin-left: 9.5%"></b:button>
        <b:button href="competition/1000" value="test competitie" look="primary" style="margin-left: 9.5%"></b:button>
        <b:button href="team/1000" value="test team" look="primary" style="margin-left: 9.5%"></b:button>
        
        <b:container>
            <h1>Introductie</h1>
            <b:column span="5">
                <p>
                    Volleyscores.be is een initiatief van- en is ontwikkeld door
                    Kevin De Clerck, Joren Vanherwegen en Jelter Demunter.
                    
                    Het doel van deze website is het toegankelijk maken van de gegevens
                    m.b.t. clubs, reeksen, ploegen, rangschikkingen en wedstrijden voor
                    zowel spelers als supporters en dit via één platform.
                </p>
            </b:column>
            <b:column span="5">
                <p>
                    Wanneer je op een club klikt, dan krijg je een overzicht van de ploegen van die club.
                    Wanneer je op een ploegnaam klikt, krijg je meer uitleg over deze ploeg.
                    Wanneer je op een competitie klikt, krijg je de ploegen te zien die in die
                    competitie spelen en de details van de wedstrijden te zien.
                    Klik je op een club, dan krijg je een overzicht van de ploegen van die club.
                </p>
            </b:column>
        </b:container>
        <b:button href="ClubCreate.xhtml" value="voeg een club toe" look="primary" style="margin-left: 9.5%"></b:button>


    </h:body>
</html>
