<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{klassementController.setTeamlist(request.getParameter("id"))}
            #{competitionController.setCompetition(request.getParameter("id"))}
            #{competitionController.competition.naam} 
             - Klassement</title>
    </h:head>
    <h:body>

        <b:navBar brand="Volleyball Klassement" brandHref="../index" inverse="true">
            <b:navbarLinks pull="right">
                <b:navLink span="10"></b:navLink>
                <b:navLink value="Home" href="../index"></b:navLink>
                <b:navLink value="Zoeken" href="../zoek"></b:navLink>
                <b:navLink value="Competities" href="../competitions"></b:navLink>
            </b:navbarLinks>
        </b:navBar>  
        <h1><h:outputText value="Klassement voor #{competitionController.competition.naam}"/></h1>
        
        <h:dataTable value="#{klassementController.teamlist}" var="team">
            <h:column>
                <f:facet name="header">Nr.:</f:facet>
                <h>420 </h>
            </h:column>
            <h:column>
                <f:facet name="header">Teamnaam:</f:facet>
                <a href="../team/#{team.id}"><h:outputText value="#{team.naam}"/></a>
            </h:column>
            <h:column>
                <f:facet name="header">Punten:</f:facet>
                <h:outputText value="#{klassementController.getPunten(team.id)}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Aantal gespeeld:</f:facet>
                <h:outputText value="#{klassementController.getAantalGespeeld(team.id)}"/>
            </h:column>
                        <h:column>
                <f:facet name="header">Gew. 3-0/3-1:</f:facet>
                <h:outputText value="#{klassementController.getGewon3_0(team.id)}"/>
            </h:column>
                        <h:column>
                <f:facet name="header">Gew. 3-2:</f:facet>
                <h:outputText value="#{klassementController.getGewon3_2(team.id)}"/>
            </h:column>
                        <h:column>
                <f:facet name="header">Ver 3-0/3-2:</f:facet>
                <h:outputText value="#{klassementController.getVer3_0(team.id)}"/>
            </h:column>
                        <h:column>
                <f:facet name="header">Ver. 3-2:</f:facet>
                <h:outputText value="#{klassementController.getVer3_2(team.id)}"/>
            </h:column>
                        <h:column>
                <f:facet name="header">Gew. Sets:</f:facet>
                <h:outputText value="#{klassementController.getGewSet(team.id)}"/>
            </h:column>
                                    <h:column>
                <f:facet name="header">Ver. Sets:</f:facet>
                <h:outputText value="#{klassementController.getVerSet(team.id)}"/>
            </h:column>


        </h:dataTable>
    </h:body>
</html>
