<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <h:head>
        <title>Zoekpagina</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>
    <h:body>

        <b:navBar brand="Volleyball Klassement" brandHref="index" inverse="true">
            <b:navbarLinks pull="right">
                <b:navLink span="10"></b:navLink>
                <b:navLink value="Home" href="index"></b:navLink>
                <b:navLink value="Zoeken" href="zoek"></b:navLink>
                <b:navLink value="Competities" href="competitions"></b:navLink>
            </b:navbarLinks>
        </b:navBar>  
        
        <form  action="club/${searchController.getClub(lot)}">
            <input type="text" placeholder="Search.." name=""/>
                <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <p>todo</p>
        <b:button href="" value="Zoeken" look="primary" style="margin-left: 3%"></b:button>
    </h:body>
</html>
