<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <h:head>
        <title>#{teamController.setTeam(request.getParameter("id"))}
            #{teamController.team.naam} - Teampagina</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>
    <h:body>

        <b:navBar brand="Volleyball Klassement" brandHref="../index" inverse="true">
            <b:navbarLinks pull="right">
                <b:navLink span="10"></b:navLink>
                <b:navLink value="Home" href="../index"></b:navLink>
                <b:navLink value="Zoeken" href="../zoek"></b:navLink>
                <b:navLink value="Competities" href="../competitions"></b:navLink>
            </b:navbarLinks>
        </b:navBar>  

        <h1 style="margin-left: 3.5%">#{teamController.team.naam}</h1>
        <p><a href="../club/#{teamController.team.club.id}"><h:outputText style="margin-left: 3.5%" value="Club: #{teamController.team.club.naam}"/></a></p>
        <p><a href="../competition/#{teamController.team.competition.id}"><h:outputText style="margin-left: 3.5%" value="Competitie: #{teamController.team.competition.naam}"/></a></p>

        <h:dataTable style="margin-left: 3.5%" class="table-condensed," value="#{teamController.team.playerList}" var="player">
            <h:column>
                <f:facet name="header">Voornaam:</f:facet>
                <h:outputText id="columntext" value="#{player.firstName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Familienaam:</f:facet>
                <h:outputText id="columntext" value="#{player.lastName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Geboorte datum:</f:facet>
                <h:outputText id="columntext" value="#{player.birthDate}"/>
            </h:column>
        </h:dataTable>
        <b:button href="AddPlayer.xhtml" value="Voeg een speler toe (todo)" look="primary" style="margin-left: 3.5%"></b:button>
    </h:body>
</html>
